:root {
  /* Estilos para el modo claro */
  --bg-color-light: #dadada;
  --text-color-light: #000000;
  --border-color-light: #212121;

  /* Estilos para el modo oscuro */
  --bg-color-dark: #171717;
  --text-color-dark: #ffffff;
  --border-color-dark: #22212a;
}


.App-light {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --border-color: var(--border-color-light);
}

.App-dark {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --border-color: var(--border-color-dark);
}

.size {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--bg-color);
}